<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <braintly_caas>
            <general>
                <enabled>0</enabled>
                <api_url>https://caas-api-dev.up.railway.app</api_url>
            </general>
        </braintly_caas>
    </default>
</config>
