<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="braintly" translate="label" sortOrder="400">
            <label>Braintly</label>
        </tab>
        <section id="braintly_caas" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <tab>braintly</tab>
            <label>CAAS - Find My Size</label>
            <resource>Braintly_Caas::config</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Habilitar botón "Encontrar mi talle"</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="api_url" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>URL de la API de CAAS</label>
                    <comment>URL base de la API de CAAS, sin barra final. Ejemplo: https://caas-api-prod.example.com</comment>
                </field>
                <field id="button_position" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Posición del botón</label>
                    <source_model>Braintly\Caas\Model\Config\Source\ButtonPosition</source_model>
                    <comment>Ubicación Magento-nativa preferida para la página de producto. Se ignora cuando se configura un selector CSS personalizado avanzado.</comment>
                </field>
                <field id="custom_selector" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Selector CSS personalizado avanzado</label>
                    <comment>Si se completa, el botón se inserta en el elemento que matchee este selector. Tiene precedencia sobre Button Position. Ej: .product-info-main, #my-custom-container</comment>
                </field>
            </group>
        </section>
    </system>
</config>